<div>
    <p>"ngx-extended-pdf-viewer": "9.0.5"</p>
    <ngx-extended-pdf-viewer [src]="'assets/ziadost_default.pdf'" [showFindButton]="false"
    [showPresentationModeButton]="false" [showPrintButton]="false" [showDownloadButton]="false"
    [showBookmarkButton]="false" [showRotateButton]="false" [showOpenFileButton]="false" [zoom]="100"
    [showSecondaryToolbarButton]="false" [showHandToolButton]="false" [handTool]="false"
    useBrowserLocale="false" minZoom="0.8" maxZoom="2.0" delayFirstView="400" height="calc(100vh - 33vh)"
    [showUnverifiedSignatures]="true"></ngx-extended-pdf-viewer>
</div>
